*{
    margin: 0; padding: 0; box-sizing: border-box;
}
:root{
    --primary-text-color: #001526;
    --accent-color: #2294ed;
    --accent-color-light: #c3deff;
}
.flex{
    display: flex;
}
body{
    font-family: 'Lilita One', cursive;
    font-size: 2rem;
    color: var(--primary-text-color);
    background:
    url(images/background.jpg)
    center / cover no-repeat fixed;
}
/* For navbar */
nav{
    backdrop-filter: blur(0.3rem);
    box-shadow: 2rem 0.2rem 5rem white;
    font-size: 0.8rem;
    padding: 0.5rem 0;
    width: 100%;
}
img{
    padding: 0 0.2rem;
    width: 9rem;
    border-radius: 10%;
}
.nav-ul{
    align-items: center;
    display: inline-flex;
    list-style: none;
}
.nav-ul a{
    text-decoration: none;
    color: var(--primary-text-color);
    font-size: 1rem;
    padding: 0 1rem;
    transition: all 0.3s ease;
}
.name{
    margin-bottom: 0.5rem;
    font-family: 'Marck Script', cursive;
}
.intereset-text{
    font-size: 1.3rem;
}
.accent-blue{
    color: var(--accent-color);
}
.nav-container{
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
    
}

/* container */
.container{
    backdrop-filter: blur(0.3rem);
    margin: 2rem 2.5rem;
    padding: 3rem 3rem;
    border-radius: 2rem;
}
.photo .disp-pic{
    width: 20rem;
    border-radius: 100%;
}
.photo :hover{
    transition:  all 1s ease-in-out;
    border: 0.6rem solid var(--accent-color);
    box-sizing: border-box;
}
.photo{
    margin: auto;
}
.greet, .name{
    margin: 1rem 0;
    visibility: hidden;
    transform: translateY(-10rem);
}
.name{
    font-size: 3.2rem;
}
.text-visible{
    visibility: visible;
    transform: translateY(0rem);
    transition: all 0.5s ease-in-out;   
}


/* Socials */
.socials{
    gap: 2rem;
    margin-top: 2.5rem;
}
.socials a{
    font-size: 2rem;
    color: var(--accent-color);
    /* transition: all 0.3s ease; */
}
.socials .social-links :hover{
    transform: scale(1.2);
    transition: all 0.4s ease;
    color: black;
}


/* About */
.heading{
    text-align: center;
    font-size: 2rem;
    margin: 7.5rem 0 2rem 0;
}
.about-content p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    padding: 1rem 1.5rem;
}
.about-content{
    padding: 1rem 7rem;
}
h4{
    padding: 2rem 5rem;
}
.about-container p{
    font-size: 1.5rem;
    font-weight: 600;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0 5rem;
    margin-bottom: 2rem;
}
.primary-btn{
    padding: 1.1rem 2.5rem;
    border-radius: 5rem;
    background-color: var(--accent-color);
    color: white;
    border: none;
    font-size: 1.2rem;
    font-weight: 100;
    font-family: 'Lilita One', cursive;
    text-decoration: none;
}
.btn .primary-btn{
    margin: auto;
}
.skills-content{
    width: 80%;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
}
.sk-cont{
    font-size: 5rem;
    /* background-color: var(--accent-color-light); */
    border: 0.2rem solid black;
    /* border-radius: 0.5rem; */
    box-shadow: 0.5rem 0.5rem 0 black;
    margin: 2rem 2rem;
    padding: 1rem 4.5rem;
    width: 5%;
    justify-content: center;
    flex-wrap: wrap;
}
.skills-content :hover{
    background-color: var(--accent-color-light);
    transform: scale(1.15);
    transition: all 0.3s ease-in-out;
}
.skill-img{
    font-size: 3rem;
}
.skill-name{
    font-size: 1rem;
}
/* skills */

/* footer */
footer{
    justify-content: center;
    padding: 1rem 0;
    font-size: 1rem;
    color: var(--primary-text-color);
    background-color: var(--accent-color);
}
footer a{
    text-decoration: none;
}


/* media qureies */
@media only screen and (max-width:  1090px){
    /* body{
        background: url(images/about-asset.jpg);    
    }*/ 
    *{
        margin: 0;padding: 0;
    }
    body{
        width: 100%;
    }
    .container{
        align-items: center;
        width: 146%;
        margin: 0.5rem;
        flex-direction: column;
    }        
    .greet{
        font-size: 3.2rem;
    }
    .name{
        margin-top: 1rem;
        font-size: 3rem;
    }
    .interest-text{
        margin: 2rem 0 5rem 0;
        font-size: 1.5rem;
    }
    .photo .disp-pic{
        margin-top: 2rem;
        width: 25rem;
        border-radius: 100%;
    }
    .socials{
        justify-content: center;
    }
    .socials a{
        font-size: 2rem;
    }
    
}
